<!DOCTYPE html>
	<html Lang=”es”>
	<head>
        <title> El mundo de las sneakers </title>
        <link rel="stylesheet" href="./css/estilos.css">
        <link rel="icon" href="./favicon.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name=”robots” content=”index, follow”>
		<meta charset=”iso-8859-1”>
		<meta name=”author” content=”Jorge Feliz”>
<meta name=”keywords” content=”Jordan, Dunk, Yeezy, essentials, Off-white, air force, nike, adidas, forum”>
<meta name=”locality” content=”Estepona, Marbella, Sevilla, Malaga, Granada, España, Europa”>
<meta name=”revisit-after” content=”7 days”>
<meta name=”category” content=”Zapatillas, sneakers, snkrs”>
	</head>
	<body>
       <h1> <center> <u> <strong> J Sneakers </strong> </u> </center> </h1> 
	   <h2> <center> Bienvenido a todas las novedades de las zapas del momento! </center> </h2>
       <p> <center> Hola! soy Jorge, un aficionado a las zapas que acaba de empezar. </center> </p>
	</body>
</html>
